<div class="card mt-4">
	<img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
	<div class="card-body">
	  <h3 class="card-title">Product Name</h3>
	  <h4>$24.99</h4>
	  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
	  <span class="text-warning">★ ★ ★ ★ ☆</span>
	  4.0 stars
	</div>
  </div>
  <!-- /.card -->
 
  <div class="card card-outline-secondary my-4">
	<div class="card-header">
	  Product Reviews
	</div>
	<div class="card-body">
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
	  <small class="text-muted">Posted by Anonymous on 3/1/17</small>
	  <hr>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
	  <small class="text-muted">Posted by Anonymous on 3/1/17</small>
	  <hr>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
	  <small class="text-muted">Posted by Anonymous on 3/1/17</small>
	  <hr>
	  <a href="#" class="btn btn-success">Leave a Review</a>
	</div>
  </div>
  <!-- /.card -->